@media all and (max-width:1000px) {
.top-side h1{
font-size:35px;
}
.top-side{
    background-size: cover;
}
.middle-side{
    background-size:cover;
}
}

@media all and (max-width:670px) {
.top-side h1{
    font-size:25px;
    text-align:left;
}
.top-side{
    background-size: cover;
}

.middle-side{
    background-size: cover;
}

.header-right{
    display:none;
}

.menu-icon{
    color:black;
    display:block;
}
}